appVariable;value
threshSlowQryOrange;0,2
threshSlowQryRed;1
threshWarnQryPercOrange;10
threshErrQryPercRed;50
daily;86400000
everyFourHours;14400000
hourly;3600000
halfHourly;1800000
eachMinute;60000
each30Seconds;30000
each5Seconds;5000
eachSecond;1000
qryFilterErrors;2
qryFilterWarnings;2
qryUserStatLimit;20
qryFullTableScanLimit;100
qryStatementAnalysisLimit;100
TotServerRamKb;402653184000
